
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /*--- Generales ---*/
    .title{
        margin-top: 3rem !important;
    }
    .title>.img-text{
        bottom: -5% !important;
    }
    .img-title h2{        
        padding: 0.7rem 2rem !important;
    }
    /*--- NAV ---*/
    .nav-top{
        padding: 0;
    }
    .nav-top .social-media,
    #nav .nav-top .nav-link{
        padding: 0;
    }
    /*--- products ---*/
    .products{
        background-size: 125% !important;
    }
    /*--- contact ---*/
    .contact{
        background-size: 250% !important;
    }
    /*--- gauss coin ---*/
    .gauss_coin{
        background-size: auto !important;
    }

}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768.98px) {
    /*--- gauss coin ---*/
    .gauss_coin{
        background-position-y: bottom !important;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /*
    .img-title h2{
        font-size: calc(23px + (30 - 23) * ((100vw - 300px) / (1600 - 300))) !important;
        padding: 1.2rem 5rem !important;
    }
    */
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .img-contact{
        max-width: 110% !important;
    }
}

@media (min-width: 768px) {
    .opportunity .desplazamiento{
        margin-top: -20% !important;
    }
}
@media (min-width: 992px) {
    .opportunity .desplazamiento{
        margin-top: -17% !important;
    }
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    .slide-new h1 {
        font-family: "Lato-Bold";
        font-size: calc(30px + (200 - 30) * ((100vw - 300px) / (1600 - 300))) !important;
        -webkit-text-stroke: calc(1px + (12 - 1) * ((100vw - 300px) / (1600 - 300))) rgb(255, 255, 255) !important;
        color: transparent;
    }
    
    .slide-new .text-container {
        position: absolute;
        top: 20% !important;
        right: 0 !important;
        left: 0 !important;
    }

    .dionisio{
        min-height: 900px;
    }
    .omar{
        min-height: 750px;
    }
    
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .slide-new h1 {
        font-family: "Lato-Bold";
        font-size: calc(30px + (230 - 30) * ((100vw - 300px) / (1600 - 300))) !important;
        -webkit-text-stroke: calc(1px + (14 - 1) * ((100vw - 300px) / (1600 - 300))) rgb(255, 255, 255) !important;
        color: transparent;
    }

    .slide-new .text-container{
        top: 10% !important;
        right: 0 !important;
        left: 0 !important;
    }

    .dionisio{
        min-height: 700px;
    }
    .omar{
        min-height: 500px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .opportunity .desplazamiento{
        margin-top: -15% !important;
    }

    .dionisio .img-fluid,
    .martin .img-fluid,
    .bruno .img-fluid,
    .joel .img-fluid{
        max-width: 65% !important;
        height: auto !important;
    }
    

}