
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /*--- Generales ---*/
    .title{
        margin-top: 3rem !important;
    }
    .title>.img-text{
        bottom: -5% !important;
    }
    .img-title h2{        
        padding: 0.7rem 2rem !important;
    }
    /*--- NAV ---*/
    .nav-top{
        padding: 0;
    }
    .nav-top .social-media,
    #nav .nav-top .nav-link{
        padding: 0;
    }
    /*--- products ---*/
    .products{
        background-size: 125% !important;
    }
    /*--- contact ---*/
    .contact{
        background-size: 250% !important;
    }

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    
    .img-title h2{
        /*font-size: calc(23px + (30 - 23) * ((100vw - 300px) / (1600 - 300))) !important; */
        /*padding: 1.2rem 5rem !important;*/
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .img-contact{
        max-width: 110% !important;
    }
}